$color-primary: #081993fc;
$color-primary-dark: #010b53fc;

$color-secondary: #49525f;
$color-secondarylight: #adb5c1;

$color-gray: #bac1cb;
$color-graydark: #49525f;
$color-graylight: #ebeef1;

$color-success: #4bb08e;
$color-black: #000;
$color-white: #fff;
